[mcu cartographer] # See https://www.klipper3d.org/Config_Reference.html#mcu
serial: /dev/serial/by-id/usb-Cartographer_614e_160009801343565537353020-if00
restart_method: command 

[cartographer]
mcu: cartographer
x_offset: -21.1 # This is the offset of your probe from the nozzle tip, to the centre of the coil.
y_offset: 0.0 # This is the offset of your probe from the nozzle tip, to the centre of the coil.
verbose: no # For extra output



#[bed_mesh]
#zero_reference_position: <blank>, <blank> # The centre of your bed. 
#speed: 300
#horizontal_move_z: 3
#mesh_min: <blank>, <blank> # The first probed coordinate, nearest to the origin. This coordinate is relative to the probe's location.
#mesh_max: <blank>, <blank> # The probed coordinate farthest from the origin. This is not necessarily the last point probed, as the probing process occurs in a zig-zag fashion. As with mesh_min, this coordinate is relative to the probe's location.
#probe_count: 20, 20
#adaptive_margin: 10
#mesh_pps: 0,0 # Disable interpolation - mesh is probably dense enough
# Mesh Bed Settings
[bed_mesh]
zero_reference_position: 90,90
speed: 200
horizontal_move_z: 5
mesh_min: 30,30
mesh_max: 150,150
probe_count: 9,9
fade_start: 0.5
fade_end: 2
split_delta_z: .025
move_check_distance: 5.0
mesh_pps: 2,2
algorithm: bicubic
bicubic_tension: 0.1

# Z Tilt Bed Adjustment settings
[z_tilt]
#3 Z Motors
z_positions: 
    -74.0, -18.0    # Front Left
    76.0,  217.0    # Rear
    226.0, -18.0    # Front Right
points:
    55, 25          # Front Left
    115, 160        # Rear
    175, 25         # Front Right
speed: 300
horizontal_move_z: 5.0
retries: 4
retry_tolerance: 0.0075


[temperature_sensor cartographer]
sensor_type: temperature_mcu
sensor_mcu: cartographer
min_temp: 5
max_temp: 105

[adxl345]
# Select 1 of the cs_pin below depending on the probe you have. 
# Having the wrong one selected will cause an Endless Bootloop
# Cartographer V4 has int2 connected to the probes PA1 pin
cs_pin: cartographer:PA3 # For Cartographer V3
cs_pin: cartographer:PA0 # For Cartographer V4
spi_bus: spi1

#[resonance_tester]
#accel_chip: adxl345
#probe_points:
#    <blank>, <blank>, 20 # Fill out the blank with x and y coordinates where you want to run the resonance test.