# ---------------- Fans ----------------  

# print cooling fan
[fan]
pin:  FAN0
max_power: 1.0
kick_start_time: 0.500

# Hotend Cooling Fan
[heater_fan tool_fan]
pin:  FAN1
max_power: 1.0
hardware_pwm: false
kick_start_time: 0.500
heater: extruder
heater_temp: 75.0
fan_speed: 1.00

[temperature_fan rpi_fan]
## connected to FAN2 
pin: FAN2
max_power: 1.0
shutdown_speed: 1.0
cycle_time: 0.02
#hardware_pwm:
kick_start_time: 0.5
off_below: 0.3
min_speed: 0.0
#tachometer_pin:
#tachometer_ppr:
#tachometer_poll_interval:
#   See the "fan" section for a description of the above parameters.
sensor_type: temperature_host
#sensor_pin:
control: pid
#max_delta: 5
min_temp: 0
max_temp: 80
target_temp: 45.0
#   See the "extruder" section for a description of the above parameters.
pid_Kp: 5.0
pid_Ki: 1.0
pid_Kd: 0.5


[fan_generic supply_fan]
## connected to FAN3 
pin: FAN3
max_power: 1.0
shutdown_speed: 1.0
cycle_time: 0.02    #PWM signal
hardware_pwm: False
kick_start_time: 0.5
#idle_timeout: 30
#fan_speed: 1


[temperature_fan tmc_fan]
pin: FAN4
kick_start_time: 1.2
sensor_type: Generic 3950
sensor_pin: T1
control: pid
pid_Kp: 0.4
pid_Ki: 0.4
pid_Kd: 0.05
min_temp: 10
max_temp: 80
target_temp: 50.0
max_speed: 1.0
#off_below: 0.3
#min_speed: 0.0

