# ---------------- Fans ----------------  

# print cooling fan
[fan]
## connected to FAN0 - J50 - 24v Fan
pin:  FAN0
max_power: 1.0
kick_start_time: 0.500

# Hotend Cooling Fan
[heater_fan my_nozzle_fan]
## connected to FAN1 - J51 - 12v Fan
pin:  FAN1
max_power: 1.0
hardware_pwm: false
kick_start_time: 0.500
heater: extruder
heater_temp: 75.0
fan_speed: 1.00
 
# thermally and driver_on controlled electronics bay fan (wire fans in parallel into the single connector)
[controller_fan controller_fan]
## connected to FAN2 - J52 - 12v Fan
pin: FAN2
max_power: 1.0
shutdown_speed: 1.0
cycle_time: 0.0001    #PWM signal
hardware_pwm: False
kick_start_time: 0.5
idle_timeout: 30
fan_speed: 1
