# JUST A NOTE, THIS REQUIRES THE FOLLOWING KLIPPER MODULE TO FUNCTION: https://github.com/Annex-Engineering/klipper/blob/master/klippy/extras/dockable_probe.py
# Documentation can be found here: https://github.com/Annex-Engineering/klipper/blob/master/docs/Dockable_Probe.md

# MCU Octopus
[mcu] 
serial: /dev/serial/by-id/usb-Klipper_stm32f446xx_1B0040000850534E4E313120-if00
restart_method: command

[printer]
kinematics: cartesian
max_velocity: 900
max_accel: 7000 # change this to 7500 after commissioning
max_accel_to_decel: 7000
max_z_velocity: 60   # may be able to increase to 15 after comissioning.
max_z_accel: 300
square_corner_velocity: 12.0 # start at 8, but then increase once you're sure assembly is sound

#Input Shaper Settings
[input_shaper]
shaper_freq_x: 53
shaper_freq_y: 53
shaper_type: mzv

[include octopus.cfg]
[include stepper.cfg]
[include extruder.cfg]
[include heater.cfg]
[include sensor.cfg]
[include cooling.cfg]
[include caselight.cfg]
[include client_macros.cfg]
[include annex_probe.cfg]

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [extruder]
#*# control = pid
#*# pid_kp = 23.533
#*# pid_ki = 1.255
#*# pid_kd = 110.312
#*#
#*# [heater_bed]
#*# control = pid
#*# pid_kp = 40.513
#*# pid_ki = 2.062
#*# pid_kd = 199.018