#Raspberry Pi Temperature Sensor
[temperature_sensor pi_cpu]
sensor_type: temperature_host
gcode_id: P

[temperature_sensor Chamber]
sensor_type: Generic 3950 #NTC 100K beta 3950
sensor_pin: T1
min_temp: 10
max_temp: 80
gcode_id: SKR
