# ---------------- Stepper Configs ----------------

# |------------------------|
# |        BACKPACK        |
# |------------------------|
# | Y  |    | Z1 |    | X1 |
# |-----    ------    -----|
# |                        |
# | ------          ------ |
# | | Z  |          | Z2 | |
# | ------          ------ |
# |-----              -----|
# | X  |              | Y1 |
# |------------------------|

[idle_timeout]
timeout: 1200


[stepper_x]
##  X Stepper - Left Front
##  Connected to MOTOR_4
step_pin: M4_STEP
dir_pin: M4_DIR
enable_pin: !M4_ENABLE
rotation_distance: 40
microsteps: 64
full_steps_per_rotation: 200
endstop_pin: tmc5160_stepper_x:virtual_endstop
position_min: -8
position_endstop: 180
position_max: 180
homing_speed: 50.0
homing_retract_dist: 0
homing_positive_dir: true

[tmc5160 stepper_x]
cs_pin: M4_UART
spi_software_miso_pin: SPI1_MISO
spi_software_mosi_pin: SPI1_MOSI
spi_software_sclk_pin: SPI1_SCK
diag1_pin: !M4_STOP
interpolate:false
run_current: 1.5
sense_resistor: 0.075
stealthchop_threshold: 0

[stepper_x1]
##  X1 Stepper - Right Back
##  Connected to MOTOR_1
step_pin: M1_STEP
dir_pin: !M1_DIR
enable_pin: !M1_ENABLE
rotation_distance: 40
microsteps: 64
full_steps_per_rotation: 200
endstop_pin: tmc5160_stepper_x1:virtual_endstop

[tmc5160 stepper_x1]
cs_pin: M1_UART
spi_software_miso_pin: SPI1_MISO
spi_software_mosi_pin: SPI1_MOSI
spi_software_sclk_pin: SPI1_SCK
diag1_pin: M1_STOP
interpolate:false
run_current: 1.5
sense_resistor: 0.075
stealthchop_threshold: 0


[stepper_y]
##  Y Stepper - Left Back
##  Connected to MOTOR_3
step_pin: M3_STEP
dir_pin: !M3_DIR
enable_pin: !M3_ENABLE
rotation_distance: 40
microsteps: 64
full_steps_per_rotation: 200
endstop_pin: tmc5160_stepper_y:virtual_endstop
position_min: -8
position_endstop: 180
position_max: 180
homing_speed: 50.0
homing_retract_dist: 0
homing_positive_dir: true

[tmc5160 stepper_y]
cs_pin: M3_UART
spi_software_miso_pin: SPI1_MISO
spi_software_mosi_pin: SPI1_MOSI
spi_software_sclk_pin: SPI1_SCK
diag1_pin: M3_STOP
interpolate:false
run_current: 1.5
sense_resistor: 0.075
stealthchop_threshold: 0

[stepper_y1]
##  Y1 Stepper - Right Front
##  Connected to MOTOR_2
step_pin: M2_STEP
dir_pin: !M2_DIR
enable_pin: !M2_ENABLE
rotation_distance: 40
microsteps: 64
full_steps_per_rotation: 200
endstop_pin: tmc5160_stepper_y1:virtual_endstop

[tmc5160 stepper_y1]
cs_pin: M2_UART
spi_software_miso_pin: SPI1_MISO
spi_software_mosi_pin: SPI1_MOSI
spi_software_sclk_pin: SPI1_SCK
diag1_pin: M2_STOP
interpolate:false
run_current: 1.5
sense_resistor: 0.075
stealthchop_threshold: 0

# ---------------- Z Stepper Configs ----------------

[stepper_z]
##  Z Stepper - Left
##  Connected to MOTOR_5
step_pin: M5_STEP
dir_pin: M5_DIR
enable_pin: !M5_ENABLE
rotation_distance: 40
gear_ratio: 5:1
microsteps: 32
full_steps_per_rotation: 200 #change to 400 for a 0.9deg motor
endstop_pin: probe:z_virtual_endstop
position_max: 160 #this is set here on purpose, your actual travel will vary based on spring compression holding the bed, adjust at your own risk
position_min: -8
homing_speed: 30.0
second_homing_speed: 10.0
homing_retract_dist: 5.0
homing_positive_dir: false

[tmc2209 stepper_z]
uart_pin: M5_UART
interpolate: false
run_current: 1.0
sense_resistor: 0.110
stealthchop_threshold: 0

[stepper_z1]
##  Z1 Stepper - Back
##  Connected to MOTOR_6
step_pin: M6_STEP
dir_pin: M6_DIR
enable_pin: !M6_ENABLE
rotation_distance: 40
gear_ratio: 5:1
microsteps: 32
full_steps_per_rotation: 200 #change to 400 for a 0.9deg motor

[tmc2209 stepper_z1]
uart_pin: M6_UART
interpolate: false
run_current: 1.0
sense_resistor: 0.110
stealthchop_threshold: 0


[stepper_z2]
##  Z2 Stepper - Right
##  Connected to MOTOR_7
step_pin: M7_STEP
dir_pin: M7_DIR
enable_pin: !M7_ENABLE
rotation_distance: 40
gear_ratio: 5:1
microsteps: 32
full_steps_per_rotation: 200 #change to 400 for a 0.9deg motor

[tmc2209 stepper_z2]
uart_pin: M7_UART
interpolate: false
run_current: 1.0
sense_resistor: 0.110
stealthchop_threshold: 0


[extruder]
## connected to MOTOR_0
step_pin: M0_STEP
dir_pin: M0_DIR
enable_pin: !M0_ENABLE
rotation_distance: 24.5 #25 #Bol'she chislo - men'she potok
gear_ratio: 5:1 #Sherpa Mini 10t uses 5:1 or 8t uses 50:8, Folded Ascender Use 40:1 or 20:1
microsteps: 16
full_steps_per_rotation: 200 #1.8 deg motor


[tmc2209 extruder]
uart_pin: M0_UART
interpolate: false
run_current: 0.35
sense_resistor: 0.110
stealthchop_threshold: 0
