[output_pin LLL_BUFFER]
pin: HE1
pwm: false
shutdown_value: 0.0
value: 1
#cycle_time: 0.001
#scale: 100

[filament_switch_sensor LLL_SENSOR]
pause_on_runout: true
switch_pin: ^M0_STOP
runout_gcode:
    PAUSE
    RESPOND MSG="Filament runout triggered"
    #SET_IDLE_TIMEOUT TIMEOUT=86400
insert_gcode:
    RESPOND MSG="Triggered feeding"
event_delay: 2.0
pause_delay: 2.0
debounce_delay:2.0

